 <% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust edit </title>
</head>
<body>
    <div class="row  mt-2">
        <div class="col-8 offset-2">
            <h4> Wanderlust edit </h4>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-2" >
                    <label for="title"  class="form-label">Tittle</label>
                    <input type="text" value="<%=listing.title%>" name="listing[title]" class="form-control" >
                    <div class="valid-feedback">tittle good!</div>
                </div>
              
           
                <div class="mb-2">
                    <label for="description" class="form-label" >description</label>
                    <textarea type="text" value="<%= listing.description%>" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a valid description.</div></div>
              
                    <div  class="mb-2">
                        Original Listing <br>
                        <img style="width: 200px;"  src="<%= originalUrl %>">
                    </div>


                     <div  class="mb-2">
                    <label for="image"  class="form-label">Upload Image</label>
                    <input type="file"  name= "listing[image]" class="form-control" >
                    <div class="invalid-feedback">Please enter correct Image url</div>
                </div>
                

                <div class="row">

                     <div class="col-md-4">
                <div class="mb-2">
                    <label for="price"  class="form-label">Price</label>
                    <input type="number" value="<%=listing.price%>" name="listing[price]"  class="form-control" required>
                    <div class="invalid-feedback">Please enter correct Price</div>
                </div>
             </div>
                   
                 <div class="col-md-8">
                    <div class="mb-2">
                        <label for="country"  class="form-label">Country</label>
                        <input type="text" value="<%=listing.country%>" name="listing[country]"   class="form-control" required>
                        <div class="invalid-feedback">Please enter correct Countrty</div>
                    </div>
                 </div>
                </div>
        
                <div class="mb-2"> 
                    <label for="location"  class="form-label">Location</label>
                    <input type="text" value="<%=listing.location%>" name="listing[location]"  class="form-control" required>
                    <div class="invalid-feedback">Please enter correct Location</div></div>
                   <button class="btn edit-btn mt-2">Edit</button>
                  </form>
        </div>
    </div>
  
    
</body>
</html>







